{% extends 'base.html' %}

{% block content %}
<div class="container">

    <form action="{% url 'criate' %}" method="post">
        {% csrf_token %}
            {{ form }}
        <div class="form-group">
          <label for="usr">Name:</label>
          <input type="text" class="form-control" id="usr">
        </div>
        <div class="form-group">
          <label for="comment">Comment:</label>
          <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
        <input type="submit">
    </form>
</div>

{% endblock %}